(ns hyperfiddle.ide.fiddles.schema-attribute
  (:require
    [clojure.set :as set]
    [contrib.datomic-tx :as tx]
    [contrib.reactive :as r]
    [contrib.ui :refer [debounced]]
    [hypercrud.browser.context :as context]
    [hyperfiddle.api :as hf]
    [hyperfiddle.runtime :as runtime]
    ;; [hyperfiddle.ui :refer [field markdown]]
    [hyperfiddle.ui.util :refer [entity-change->tx]]))




